---
import BlogList from '@/components/blog/BlogList.astro';
import Layout from '@/layouts/Layout.astro';
import { getPackageTitle } from '@/utils/package';
import { getCollection } from 'astro:content';
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import Pagination from '@/components/Pagination.astro';

export const getStaticPaths = (async ({ paginate }) => {
  const blogEntries = await getCollection('posts');
  return paginate(blogEntries, { pageSize: 2 });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;
---

<Layout title={getPackageTitle()}>
  <div class="flex flex-col items-center gap-10">
    <p class="font-mono text-3xl">Blog List</p>
    {page.data.map((post) => <BlogList title={post.data.title} url={`/posts/${post.slug}/`} />)}
    <Pagination currentPage={currentPage} preUrl={page.url.prev} nextUrl={page.url.next} />
  </div>
</Layout>
