---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { sampleSize } from 'lodash-es';

const { frontmatter } = Astro.props;
const blogEntries = await getCollection('posts');
const randomBlogEntries = sampleSize(blogEntries, 2);
---

<Layout title={frontmatter.title}>
  <div class="prose mx-auto max-w-5xl">
    <h1>{frontmatter.title}</h1>
    <slot />
    <div class="divider mt-20"></div>
    <div id="utterances-container"></div>
    <script>
      const script = document.createElement('script');
      const container = document.querySelector('#utterances-container'); // your id in your html above

      // Replace the value of each key with yours
      Object.entries({
        src: 'https://utteranc.es/client.js',
        repo: 'InSeok9068/inseok9068.github.io',
        'issue-term': 'pathname',
        label: 'post comments', // omit this line, if you don't need label
        theme: 'github-light',
        crossorigin: 'anonymous',
      }).forEach(([key, value]) => {
        script.setAttribute(key, value);
      });

      container?.appendChild(script);
    </script>
    <h3>다른 글 읽어보기 ⬇️</h3>
    {
      randomBlogEntries.map((blogEntrie) => (
        <div class="card shadow-xl">
          <div class="card-body">
            <div class="join">
              {blogEntrie.data.tags?.map((tag) => (
                <span class="badge badge-ghost mx-1 text-xs">{tag}</span>
              ))}
            </div>
            <a href={`/posts/${blogEntrie.slug}`}>
              <h4 class="card-title mt-0 text-lg">{blogEntrie.data.title}</h4>
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
